#register {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 105vh;
    background-image: url("../img/papel_de_parede_anuncio.webp");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.register-question {
    font-size: 2.5rem;
    position: absolute;
    top: 5rem;
    left: 8rem;
    font-weight: 700;
    width: 18rem;
    color: #e3aa84;
    text-shadow: 1px 1px #000;
}

.register-form {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.user-icon {
    display: flex;
    justify-content: center;
}

.user-icon i {
    font-size: 4.5rem;
}

#register form {
    width: 28rem;
    height: 35rem;
    padding: 1rem;
    background: #ffffff8c;
    border: 3px solid #44a0ff;
    display: flex;
    flex-direction: column;
}

label span {
    color: red;
}

.data-form {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.data-form label {
    font-size: 0.8rem;
    margin: 0 0 1px 1px;
    color: #000;
    font-weight: 700;
}

.data-form input::placeholder {
    color: #e39a6a;
    font-size: 1rem;
}

.data-form input, .data-form select {
    padding: 0.8rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid #e39a6a;
    border-radius: 5px;
}

.cel-e-tel,
.cidade-e-uf {
    display: flex;
    justify-content: space-between;
}

#telefone,
#celular,
#cidade, #uf {
    width: 10rem;
}

option[value=""][disabled] {
    display: none;
}

select:invalid {
    color: #e39a6a;
}

.btn-register {
    display: flex;
    justify-content: center;
    margin: auto;
}

.btn-register input {
    font-size: 1.2rem;
    padding: 0.8rem;
    width: 12rem;
    background: #fff;
    color: #44a0ff;
    border: 2px solid #44a0ff;
    font-weight: bold;
    transition: 0.5s;
}

.btn-register :hover {
    color: #fff;
    background: #44a0ff;
    cursor: pointer;
}